{% extends "layout/default.html.twig" %}

{% block body %}

<div>
<h1>Mon profil</h1>
<h4>{{user.firstName}}</h4>
<h4>{{user.lastName}}</h4>
<h4>{{user.}}</h4>
<h4>{{user.firstName}}</h4>
</div>
{% endblock %}