<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Skill_app</title>
</head>
<body>


<header>

        <nav>
            <div class="logo">
                <img src="/assets/img/mortarboard.png" alt="" width="30px">
            </div>

            <ul class="menu">
                <li><a class="sous-menu" href="">Reserver un examen</a></li>
                <li><a class="sous-menu" href="">Connexion</a></li>
                {# <img src="/assets/img/utilisateur.png" alt="" width="25px"> #}
            </ul>

            </div>

        </nav>

    </header>

{% block body %}
{% endblock %}






    
</body>


<footer>


</footer>


</html>
