{% extends 'layout/default.html.twig' %}

{% block body %}
<h2> Mon historique </h2>
<h3> Mes examens à venir </h3>
{% for registerExam in registeredExam %} 
<span>{{registerExam|toString}}</span>
{% endfor %}

{% endblock %}
