{% extends "layout/defaultError.html.twig" %}

{% block body %}

	<div class="error404">
		<h1>Error 403</h1>

		<p>Page Not Found</p>
        <p>Return to the <a class="a" href="/">home page</a></p>
	</div>

{% endblock %}
